*{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.header{
  height: 80px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  font-weight: 500;
}
.header__name{
    justify-self: start;
    flex: 0 0 200px;
    display: flex;
    align-items: center;
    justify-content: center;}
    .header__name:hover{
        cursor: pointer;
     }
.header__navigation{
    display: flex;
    flex: 0 0 220px;
    padding: 0px 30px 0px 0px;
    align-items: center;
    justify-content: space-between;
    justify-self: end;
}
  .navigation-button:hover{
     cursor: pointer;
     opacity: 0.5;
  }
.shop-page{
  display: flex;
  flex-flow: row nowrap;
  max-width: 1800px; 
  margin: 0 auto;
  padding: 20px;
}
.shop-page__menu{
    width: 400px;
    height: 100%;
    padding: 10px;
    flex: 0 0 auto;
    margin: 0px 15px 0px 0px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.menu__content{
  display: flex;
  flex-direction: column;
  height: 100%;
}
.menu__search{
  display: flex;
  justify-content: center;
}
.search{
    display: block;
    flex: 1 1 auto;
    height: 47px;
    border: none;
    border-radius: 5px;
    background-color: rgb(231, 230, 228);
    padding: 0px 0px 0px 10px;
    margin: 20px 5px 20px 5px;
    font-weight: 500;
}
.menu__sorting{
    display: flex;
    flex-flow: row wrap;}
   
.item-sorting{
    display: flex;
    height: 30px;
    margin: 5px;
    flex: 1 1 auto;
    border: none;
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(231, 230, 228);
    justify-content: center;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
    transition: 0.5s;}
    .button-active{
    background-color: #5587b6;
    color: white;} 

.menu__button{
    display: flex;
    position: relative;
    height: 30px;
    flex: 0 1 auto;
    margin: 437px 0px 0px 0px;
    justify-content: center;
    justify-self: flex-end;
    align-items: center;
    border-radius: 5px;
    padding: 5px;
    background-color: #5587b6;
    color: white;
    font-weight: 500;
    cursor: pointer;
} 
.shop-page__catalog{
  display: flex;
  flex-flow: row wrap;
  overflow:auto;
  min-height: min-content;
}

.catalog__item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px 5px 5px 5px;
  width: 230px;
  height: 258px;}
.item-photo{
  background: url(img/doka.png);
  background-size:cover;
  width: 230px;
  height: 230px;}
  .item-photo:hover {
    cursor: pointer;
    opacity: 0.8;
    transition: .25s ease 0s;
    background-size:cover;
  }
  .item-photo-hovered{
    display: none;
    position: absolute;
    width: 400px;
    height: 200px;
    margin: 0px 0px 0px 230px; 
    background-color: white;
  }
  .photo-title{
    display: block;
    align-self: center;
    padding: 5px;
    font-size: 20px;
  }
  .photo-lower-text{
    text-align: center;}
    .photo-lower-text{
      padding: 5px 5px 10px 5px;
    }
  .item-photo:hover .item-photo-hovered{
    display: flex;
    flex-direction: column;
    opacity: none;
  }
.item-menu{
  display: flex;
  align-self: flex-end;
  justify-content: space-between;
  flex-flow: row nowrap;
  width: 100%;}
  
.item-selection{
  display: flex;
  height: 28px;
  width: 50%;
  background-color: #63a2dd;
  color: white;
  justify-content: center;
  align-items: center;
}
.item-selection:hover{
  cursor: pointer;
  opacity: 0.7;
}
  .item-selection:last-child{
    border-left: 1px solid white;
  }